* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Oswald', sans-serif;
}

#root {
position: relative;
width: 70%;
margin: 0 auto;
}

#root > h1 {
display: inline-block;
margin-right: 5px;
margin-top: 20px;
}

i.fa-chevron-down {
vertical-align: text-top;
font-size: 23px;
}

i {
cursor: pointer;
}

ul {
list-style: none;
}

.list-item {
padding: 15px;
margin: 50px 0;
}

.logo-container {
width: 100px;
}

.logo-container > img {
width: 100%;
}

.applied {
background-color: greenyellow;
}

.applicationAdvice {
position: fixed;
top: 100px;
left: 50%;
transform: translate(-50%);
z-index: 1001;
padding: 20px;
font-size: 30px;
font-weight: bold;
background-color: lightgray;
border: 2px solid black;
}

.top-bar {
display: flex;
justify-content: space-between;
align-items: center;
}

.company-info {
display: flex;
align-items: center;
}

.company-info h1 {
margin-left: 20px;
}

.badge {
border: 2px solid black;
display: inline-block;
padding: 3px;
margin: 5px 0;
}

.key {
display: inline-block;
font-weight: bold;
margin-right: 5px;
}

.position-info, .data-info {
font-size: 18px;
}

.data-info {
display: flex;
justify-content: flex-end;
}

button {
width: 80px;
padding: 5px 0;
cursor: pointer;
font-weight: bold;
background-color: lightgray;
border-radius: 10px;
}